:root {
  --header-border-color: #ececec;
  --main-color-bright: #952281;
  --main-color-accent: #861e74;
  --secondary-color-bright: #ba9cb4;
  --secondary-color-accent: #b392ac;
  --background-color: #eee4e1;
  --text-color: #333;
  --accent-text-color: #fff;
  --footer-text-color: #6c6c6c;
}
