.page-footer {
  background-color: var(--background-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page-footer__top-wrapper {
  display: flex;
  justify-content: space-between;
}
.page-footer__left-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

.page-footer__sm-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    display: flex;
    gap: 5px;
    align-items: center;

    a {
      color: var(--secondary-color-bright);
      text-decoration: none;
      font-weight: 400;
    }
  }
}

.page-right-wrapper {
  p {
    color: var(--footer-text-color);
    font-style: italic;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: var(--footer-text-color);
    font-weight: 400;
  }
}

.copyright {
  text-align: center;
  color: var(--footer-text-color);
  font-weight: 400;
}

//mobile usual and landscape
@media screen and (max-width: 767px) {
  .page-footer {
    font-size: 12px;
  }
  .page-footer__left-wrapper {
    gap: 20px;
  }
  .page-footer__sm-list {
    gap: 5px;
  }
}
